nav.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #fff;
  border-inline-end: 1px solid #eee;
  width: 60px;
  padding: 16px 6px;
  transition: 0.3s ease-out;
  overflow: hidden;
  text-wrap: nowrap;
  z-index: 999;
  overflow-y: auto;
  .sidebar-link.active {
    background-color: #4bb3cd;
    .link-name,
    svg {
      color: #fff;
    }
  }
  .link-name {
    opacity: 0;
    color: #111827;
    font-size: 13px;
  }
  svg {
    color: #888;
    width: 18px;
    flex-shrink: 0;
  }

  a span,
  .dropdown-btn span {
    flex-grow: 1;
  }
  .sidebar-item {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  a,
  .dropdown-btn {
    border-radius: 16px;
    padding: 6px 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &:hover {
    width: 240px;
    padding: 16px;

    .link-name {
      opacity: 1;
    }

    .sub-menu {
      &[menu-level="1"] a,
      &[menu-level="1"] .dropdown-btn {
        padding-left: 20px;
      }
    }
  }

  button {
    &:focus {
      outline: unset !important;
      box-shadow: unset !important;
      border: unset !important;
    }
  }

  .dropdown-btn {
    width: 100%;
    text-align: start;
    cursor: pointer;
  }

  .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    &.show {
      grid-template-rows: 1fr;
    }
    .sub-menu-content {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .sidebar-item {
        .link-name {
          font-size: 14px;
        }
      }
    }
  }

  .isOpen svg {
    rotate: 180deg;
  }
}

html[dir="rtl"] {
  nav.sidebar {
    right: 0;
    left: unset;
  }
}
